@import "tailwindcss";
.remote-cursor {
    position: relative;
    border-left-width: 2px;
    border-left-style: solid;
}

/* Add this to your index.css */
body {
  background-color: #030712; /* Matches your gray-950 */
  color: white;
}
