@import "tailwindcss";
.remote-cursor {
    position: relative;
    border-left-width: 2px;
    border-left-style: solid;
}

body {
  background-color: #030712; 
  color: white;
}
/* Nuke the global browser scrollbar */
html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}